*{
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-font-family: "Open Sans";
}
.main{
    -fx-background-color: #ffffff;
}
.gradiente{
    -fx-background-color: linear-gradient(#64b5f6,#0d47a1);
}
.campos{
    -fx-background-color: #ffffff;
    -fx-alignment: center;
}
.img{
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
}
.imgFuncionario{
    -fx-background-image: url("../image/undraw_profile_6l1l.png");
}
.imgCliente{
    -fx-background-image: url("../image/undraw_speech_to_text_9uir.png");
}
.imgDependente{
    -fx-background-image: url("../image/dependente.png");
}
.imgFornecedor{
    -fx-background-image: url("../image/fornecedor.png");
}
.imgProduto{
    -fx-background-image: url("../image/produto.png");
}
.imgLogin{
    -fx-background-image: url("../image/undraw_access_account_99n5.png");
}
.titleFuncionario{
    -fx-text-alignment: center;
    -fx-font-size: 22px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
}
.lable{
    -fx-font-weight: bold;
    -fx-font-family: "Open Sans";
    -fx-font-size: 16px;
}
.input{
    -fx-border-style: solid;
    -fx-border-color: #BDBDBD;
    -fx-background-color: #ffffff;
    -fx-padding: 0 12px;
    -fx-font-size: 16px;
    -fx-border-radius: 4px;
    -fx-pref-height: 38px;

}
.input:focused{
    -fx-border-color: #2196F3;
}
.lableObrigatorio{
    -fx-font-weight: bold;
    -fx-font-family: "Open Sans";
    -fx-font-size: 10px;
    -fx-text-fill: #f44336;
}
.btnCadastrar {
    -fx-font-size: 18px;
    -fx-border-radius: 4px;
    -fx-font-weight: bold;
    -fx-background-color: #2196F3;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-pref-height: 45px;
}
.btnCadastrar:pressed{
    -fx-border-color: #BDBDBD;
}
.btnCancelar{
    -fx-font-size: 14px;
    -fx-text-fill: #BDBDBD;
    -fx-cursor: hand;
}
.btnCancelar:hover{
    -fx-text-fill: #2196F3;
}
.comboBox{
    -fx-border-style: solid;
    -fx-border-color: #BDBDBD;
    -fx-background-color: #ffffff;
    -fx-padding: 0 12px;
    -fx-font-size: 18px;
    -fx-border-radius: 4px;
}
.radio-button .radio{
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 2px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 5px;
}
.table-view{

}